<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <connectionStrings>
    <add name="FERRETERIAEntities" connectionString="metadata=res://*/Modelo.Model.csdl|res://*/Modelo.Model.ssdl|res://*/Modelo.Model.msl;provider=System.Data.SqlClient;provider connection string=&quot;Data Source=MACBOOK-PC;Initial Catalog=FERRETERIA;Integrated Security=True;MultipleActiveResultSets=True&quot;" providerName="System.Data.EntityClient" />
    <add name="FERRETERIAEntities1" connectionString="metadata=res://*/Controlador.Model1.csdl|res://*/Controlador.Model1.ssdl|res://*/Controlador.Model1.msl;provider=System.Data.SqlClient;provider connection string=&quot;Data Source=MACBOOK-PC;Initial Catalog=FERRETERIA;Integrated Security=True;MultipleActiveResultSets=True&quot;" providerName="System.Data.EntityClient" />
  </connectionStrings>
</configuration>